<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-quartz:jar">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_quartz_jar</output-path>
    <root id="root">
      <element id="archive" name="spring-quartz.jar">
        <element id="directory" name="META-INF">
          <element id="file-copy" path="$PROJECT_DIR$/src/main/java3/META-INF/MANIFEST.MF" />
        </element>
        <element id="module-output" name="spring-quartz" />
      </element>
    </root>
  </artifact>
</component>